html, body {
  margin-top: 0;
    padding: 0;
}
  canvas {
    display: block;
}

main{
  display: flex;
}

.curseurs{
  margin-right: 0;
}

#defaultCanvas0{
  margin-left: 5%;
  margin-right: 0;
}