@font-face {
  font-family: "QuickSand";
  src: url("quicksand/Quicksand_Book.otf");
}

html, body {
  font-family: "Quicksand";
  margin: auto;
  padding: 0;
  font-size: 16px;
}

canvas {
    display: block;
}

main{
  display: flex;
}

button{
  font-family: "Quicksand";
  color: black;
  border: 2px solid black;
  border-radius: 10px;
  padding: 1%;
}

#buttons{
  align-items: center;
  padding-top: 2%;
  border-right: 0;
  border-left: 0;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

#validate{
  width: 220px;
  padding: 1%;
  
}

#download{
  padding: 1%;
}

p{
  margin: 0;
  padding: 5px;
}

.curseurs{
  width: 40%;
  margin: 2%;
  margin-top: 2%;
}

.curseurs>div{
  padding-left: 5%;
  border: 1px solid black;
  border-bottom: 0;
  padding-right: 5%;
  padding-top: 5px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

#defaultCanvas0{
  margin: 2%;
  margin-top: 2%;
}

.input_label{
  display: flex;
  flex-flow: row;
}

input{
  vertical-align: top;
  width: 150px;
  height: 10px;
  border-radius: 5px;
  margin:2px;
  appearance: none;
  background: #d3d3d3;
  align-self: center;
}

input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%; 
  background: black;
  cursor: pointer;
}

input::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}


label{
  vertical-align: top;
  width: 150px;
  text-align: center;
}

#fake_div{
  border: 0;
  display: flex;
  align-items: stretch;
}

#choix_multiple{
  align-items: center;
  vertical-align: center;
}

.options{
  text-decoration: none;
}

.options li{
  align-self: center;
  width: 100%;
  list-style-type: none;
}

.choix{
  text-decoration: none;
}

.hide {
  display: none;
}

.show {
  display: block;
}