@font-face {
  font-family: "QuickSand";
  src: url("quicksand/Quicksand_Book.otf");
}

html, body {
  font-family: "Quicksand";
  margin: auto;
  padding: 0;
  font-size: 18px;
}

canvas {
    display: block;
}

main{
  display: flex;
}

button{
  font-family: "Quicksand";
}

#buttons{
  align-items: center;
  padding-top: 2%;
  border-right: 0;
  border-left: 0;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

#validate{
  width: 220px;
  padding: 1%;
  
}

#download{
  padding: 1%;
}

p{
  margin: 0;
  padding: 10px;
}

.curseurs{
  width: 40%;
  margin: 2%;
  margin-top: 1%;
}

.curseurs>div{
  padding-left: 5%;
  border: 1px solid black;
  border-bottom: 0;
  padding-right: 5%;
  padding-top: 5px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

#defaultCanvas0{
  margin: 2%;
  margin-top: 1%;
}

.input_label{
  display: flex;
  flex-flow: row;
  align-items: center;
}

input{
  vertical-align: top;
}

label{
  vertical-align: top;
}

.blank_space{
  margin:0;
  padding: 0;
  color:white;
}